In [1]:
#1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
#have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
#jobs data.
#This task will be done in following steps:
#1. First get the webpage https://www.naukri.com/
#2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
#location” field.
#3. Then click the search button.
#4. Then scrape the data for the first 10 jobs results you get.
#5. Finally create a dataframe of the scraped data.
#Note: All of the above steps have to be done in code. No step is to be done manually

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [3]:
driver = webdriver.Chrome(r'C:\Users\trapt\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
driver = webdriver.Chrome('chromedriver.exe')

In [5]:
url='https://www.naukri.com/'
driver.get(url)

In [6]:
from selenium.webdriver.common.by import By

In [7]:
Search_jobs = driver.find_element(By.CLASS_NAME,"suggestor-input")

In [8]:
Search_jobs

In [10]:
Search_jobs.send_keys("Data Analyst")

In [11]:
Search_loc = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")

In [12]:
Search_loc

In [13]:
Search_loc.send_keys("Bangalore")

In [14]:
Search_btn =driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[3]/div/div/div[6]")

In [15]:
Search_btn

In [16]:
Search_btn.click()

In [17]:
Title_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")

In [18]:
len(Title_tags)

20

In [19]:
Job_titles=[]
for i in Title_tags:
        Job_titles.append(i.text)
len(Job_titles)

20

In [20]:
Job_titles

['Sr.Business Data Analyst',
 'Sr Data Analyst',
 'Senior Data Analysis Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Data Analyst/Senior Data Analyst',
 'Financial Data Analyst',
 'Data Analyst II',
 'Senior Data Analyst II',
 'Senior Data Management Analyst',
 'Data Analyst',
 'Data Analyst - CRM Platform',
 'Software Technical Expert - Data Analyst',
 'Reference Data Analyst',
 'Sales Data Analyst',
 'Lead Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Hiring Data Analyst - Forensics, KPMG India',
 'Big data analyst']

In [21]:
Company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
len(Company_tags)

20

In [22]:

Company_names=[]
for i in Company_tags:
        Company_names.append(i.text)
len(Company_names)

20

In [23]:
Company_names

['Collabera',
 'Thomson Reuters',
 'Capco',
 'Thomson Reuters',
 'KrazyBee',
 'Meesho',
 'Nuance India',
 'Cerner',
 'Flipkart',
 'Wells Fargo',
 'Kititan Co., Ltd',
 'Artech infosystem',
 'Schneider Electric',
 'Deutsche Bank',
 'Nuance India',
 'PowerSchool India',
 'Confidential',
 'Clarivate',
 'KPMG India',
 'Accolite Software India Pvt Ltd']

In [24]:
Loc_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
len(Loc_tags)

20

In [25]:
Locations=[]

for i in Loc_tags:
    Locations.append(i.text)
len(Locations)

20

In [26]:
Locations

['Bangalore/Bengaluru, karnataka\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Old Madras Road)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, New Delhi, Hyderabad/Secunderabad, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Pune, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Kolkata, Mumbai, Gurgaon/Gurugram, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru']

In [27]:
Exp_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
len(Exp_tags)

20

In [28]:
Experience=[]
for i in Exp_tags:
        Experience.append(i.text)
len(Experience)

20

In [29]:
len(Job_titles),len(Company_names),len(Experience),len(Locations)

(20, 20, 20, 20)

In [30]:
Jobs=pd.DataFrame()
Jobs['Job_titles']=Job_titles
Jobs['Company_names']=Company_names
Jobs['Locations']=Locations
Jobs['Experience']=Experience
Jobs

,Job_titles,Company_names,Locations,Experience
0,Sr.Business Data Analyst,Collabera,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",6-11 Yrs
1,Sr Data Analyst,Thomson Reuters,Bangalore/Bengaluru,5-8 Yrs
2,Senior Data Analysis Analyst,Capco,"Bangalore/Bengaluru, Pune, Chennai",7-12 Yrs
3,Data Analyst,Thomson Reuters,Bangalore/Bengaluru,2-3 Yrs
4,Senior Data Analyst,KrazyBee,Bangalore/Bengaluru(Old Madras Road),3-6 Yrs
5,Data Analyst/Senior Data Analyst,Meesho,Bangalore/Bengaluru,3-6 Yrs
6,Financial Data Analyst,Nuance India,Bangalore/Bengaluru,3-8 Yrs
7,Data Analyst II,Cerner,Bangalore/Bengaluru,2-4 Yrs
8,Senior Data Analyst II,Flipkart,Bangalore/Bengaluru,3-6 Yrs
9,Senior Data Management Analyst,Wells Fargo,Bangalore/Bengaluru,4-7 Yrs
10,Data Analyst,"Kititan Co., Ltd","Bangalore/Bengaluru, Kolkata, New Delhi, Hyder...",5-10 Yrs
11,Data Analyst - CRM Platform,Artech infosystem,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",1-6 Yrs
12,Software Technical Expert - Data Analyst,Schneider Electric,Bangalore/Bengaluru,3-6 Yrs
13,Reference Data Analyst,Deutsche Bank,Bangalore/Bengaluru,2-5 Yrs
14,Sales Data Analyst,Nuance India,Bangalore/Bengaluru,1-3 Yrs
15,Lead Data Analyst,PowerSchool India,Bangalore/Bengaluru,3-5 Yrs
16,Data Analyst,Confidential,"Bangalore/Bengaluru, Pune, Mumbai (All Areas)",1-3 Yrs
17,Data Analyst,Clarivate,Bangalore/Bengaluru,2-4 Yrs
18,"Hiring Data Analyst - Forensics, KPMG India",KPMG India,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, G...",2-6 Yrs
19,Big data analyst,Accolite Software India Pvt Ltd,Bangalore/Bengaluru,2-6 Yrs

In [31]:
Jobs[0:10]

,Job_titles,Company_names,Locations,Experience
0,Sr.Business Data Analyst,Collabera,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",6-11 Yrs
1,Sr Data Analyst,Thomson Reuters,Bangalore/Bengaluru,5-8 Yrs
2,Senior Data Analysis Analyst,Capco,"Bangalore/Bengaluru, Pune, Chennai",7-12 Yrs
3,Data Analyst,Thomson Reuters,Bangalore/Bengaluru,2-3 Yrs
4,Senior Data Analyst,KrazyBee,Bangalore/Bengaluru(Old Madras Road),3-6 Yrs
5,Data Analyst/Senior Data Analyst,Meesho,Bangalore/Bengaluru,3-6 Yrs
6,Financial Data Analyst,Nuance India,Bangalore/Bengaluru,3-8 Yrs
7,Data Analyst II,Cerner,Bangalore/Bengaluru,2-4 Yrs
8,Senior Data Analyst II,Flipkart,Bangalore/Bengaluru,3-6 Yrs
9,Senior Data Management Analyst,Wells Fargo,Bangalore/Bengaluru,4-7 Yrs

In [32]:
#Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
#have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
#This task will be done in following steps:
#1. First get the webpage https://www.naukri.com/
#2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
#location” field.
#3. Then click the search button.
#4. Then scrape the data for the first 10 jobs results you get.
#5. Finally create a dataframe of the scraped data.
#Note: All of the above steps have to be done in code. No step is to be done manually.

In [33]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [36]:
driver = webdriver.Chrome(r'C:\Users\trapt\Downloads\chromedriver_win32\chromedriver.exe')

In [37]:
driver = webdriver.Chrome('chromedriver.exe')

In [38]:
url='https://www.naukri.com/'
driver.get(url)

In [39]:
from selenium.webdriver.common.by import By

In [40]:
Search_jobs = driver.find_element(By.CLASS_NAME,"suggestor-input")

In [41]:
Search_jobs

In [42]:
Search_jobs.send_keys("Data Scientist")

In [43]:
Search_loc = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")

In [44]:
Search_loc

In [45]:
Search_loc.send_keys("Bangalore")

In [46]:
Search_btn =driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[3]/div/div/div[6]")

In [47]:
Search_btn

In [48]:
Search_btn.click()

In [49]:
Title_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")

In [50]:
len(Title_tags)

20

In [51]:
Job_titles=[]
for i in Title_tags:
        Job_titles.append(i.text)
len(Job_titles)

20

In [52]:
Job_titles

['Data Scientist/ Senior Data Scientist',
 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Dataiku Consultant',
 'Data Scientist: Advanced Analytics',
 'Research Scientist',
 'Data Science - Senior Data Scientist - Analytics',
 'Principal - Data Scientist',
 'Research and Development -AI/ML -(PhD )',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Senior Data Science Engineer',
 'Data Science - Engineering Manager',
 'Data Scientist',
 'Data Scientist- Assistant Manager/Manager',
 'Data Scientist',
 'Data Scientist, Personalization',
 'AWS Sagemaker',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist - IN3',
 'Senior Data Scientist, Personalization']

In [53]:
Company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
len(Company_tags)

20

In [54]:

Company_names=[]
for i in Company_tags:
        Company_names.append(i.text)
len(Company_names)

20

In [55]:
Company_names

['Fractal Analytics',
 'Wipro',
 'Wipro',
 'IBM',
 'IBM',
 'Paytm',
 'Schneider Electric',
 'EXL',
 'PayU',
 'Fractal Analytics',
 'Paytm',
 'UPL',
 'Genpact',
 'IBM',
 'Walmart',
 'Wipro',
 'Wipro',
 'IBM',
 'Walmart',
 'Walmart']

In [56]:
Loc_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
len(Loc_tags)

20

In [57]:
Locations=[]

for i in Loc_tags:
    Locations.append(i.text)
len(Locations)

20

In [58]:
Locations

['Bangalore/Bengaluru, Pune, Gurgaon/Gurugram, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Delhi / NCR',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Noida, Mumbai',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [59]:
len(Job_titles),len(Company_names),len(Locations)

(20, 20, 20)

In [60]:
Jobs=pd.DataFrame()
Jobs['Job_titles']=Job_titles
Jobs['Company_names']=Company_names
Jobs['Locations']=Locations
Jobs

,Job_titles,Company_names,Locations
0,Data Scientist/ Senior Data Scientist,Fractal Analytics,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram, C..."
1,Urgent Job Opening For AI Practitioner - Data ...,Wipro,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ..."
2,Dataiku Consultant,Wipro,"Bangalore/Bengaluru, Pune, Chennai"
3,Data Scientist: Advanced Analytics,IBM,Bangalore/Bengaluru
4,Research Scientist,IBM,Bangalore/Bengaluru
5,Data Science - Senior Data Scientist - Analytics,Paytm,"Bangalore/Bengaluru, Noida"
6,Principal - Data Scientist,Schneider Electric,Bangalore/Bengaluru
7,Research and Development -AI/ML -(PhD ),EXL,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
8,Opportunity For Data Scientist - Female Candid...,PayU,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."
9,Senior Data Science Engineer,Fractal Analytics,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."
10,Data Science - Engineering Manager,Paytm,"Bangalore/Bengaluru, Noida, Mumbai"
11,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)"
12,Data Scientist- Assistant Manager/Manager,Genpact,Bangalore/Bengaluru
13,Data Scientist,IBM,Bangalore/Bengaluru
14,"Data Scientist, Personalization",Walmart,Bangalore/Bengaluru
15,AWS Sagemaker,Wipro,Bangalore/Bengaluru\n(WFH during Covid)
16,Data Scientist,Wipro,Bangalore/Bengaluru\n(WFH during Covid)
17,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
18,Data Scientist - IN3,Walmart,Bangalore/Bengaluru
19,"Senior Data Scientist, Personalization",Walmart,Bangalore/Bengaluru

In [61]:
Jobs[0:10]

,Job_titles,Company_names,Locations
0,Data Scientist/ Senior Data Scientist,Fractal Analytics,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram, C..."
1,Urgent Job Opening For AI Practitioner - Data ...,Wipro,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ..."
2,Dataiku Consultant,Wipro,"Bangalore/Bengaluru, Pune, Chennai"
3,Data Scientist: Advanced Analytics,IBM,Bangalore/Bengaluru
4,Research Scientist,IBM,Bangalore/Bengaluru
5,Data Science - Senior Data Scientist - Analytics,Paytm,"Bangalore/Bengaluru, Noida"
6,Principal - Data Scientist,Schneider Electric,Bangalore/Bengaluru
7,Research and Development -AI/ML -(PhD ),EXL,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
8,Opportunity For Data Scientist - Female Candid...,PayU,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."
9,Senior Data Science Engineer,Fractal Analytics,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."

In [62]:
#3.You have to use the location and salary filter.
#You have to scrape data for “Data Scientist” designation for first 10 job results.
#You have to scrape the job-title, job-location, company name, experience required. 
#The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
#3The task will be done as shown in the below steps:
#1. first get the webpage https://www.naukri.com/
#2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
#3. Then click the search button.
#4. Then apply the location filter and salary filter by checking the respective boxes
#5. Then scrape the data for the first 10 jobs results you get.
#6. Finally create a dataframe of the scraped data.

In [63]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [64]:
driver = webdriver.Chrome(r'C:\Users\trapt\Downloads\chromedriver_win32\chromedriver.exe')

In [65]:
 driver = webdriver.Chrome('chromedriver.exe')

In [66]:
url='https://www.naukri.com/'
driver.get(url)

In [68]:
from selenium.webdriver.common.by import By

In [69]:
Search_jobs = driver.find_element(By.CLASS_NAME,"suggestor-input")

In [70]:
Search_jobs

In [71]:
Search_jobs.send_keys("Data Scientist")

In [72]:
Search_loc = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")

In [73]:
Search_loc.send_keys("Delhi")

In [74]:
Search_btn =driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[3]/div/div/div[6]")

In [85]:
Search_btn

In [76]:
Search_btn.click()

In [81]:
Salary_check =driver.find_element(By.XPATH, "/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]")

In [82]:
Salary_check.click()

In [83]:
Location_check =driver.find_element(By.XPATH, "/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[13]/div[2]/div[3]")

In [84]:
Location_check.click()

In [86]:
Title_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")

In [87]:
len(Title_tags)

20

In [88]:
Job_titles=[]
for i in Title_tags:
        Job_titles.append(i.text)
len(Job_titles)

20

In [89]:
Job_titles

['DigitalBCG GAMMA Data Scientist',
 'Senior Associate - Data Science',
 'Data Scientist - Noida/Bangalore',
 'Data Scientist - Engine Algorithm',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Machine learning AI',
 'Data Scientist - Internet Jobs - II',
 'Data Science',
 'Data Science',
 'Data Scientist - MIND Infotech',
 'Data Engineer',
 'Associate Data Scientist - Java/ Scala/ Apache Server',
 'Data Scientist',
 'Machine Learning Seniors',
 'Database Management Expert//Ghaziabad',
 'Hiring || Data Scientist || North Delhi || 5.5 days working',
 'Data scientist- Python',
 'Data Analyst (Data Sets, Statistical Models) - Engineering Consultancy']

In [90]:
Company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
len(Company_tags)

20

In [91]:
Company_names=[]
for i in Company_tags:
        Company_names.append(i.text)
len(Company_names)

20

In [92]:
Company_names

['Boston Consulting Group',
 'Black Turtle',
 'EXL',
 'Primo Hiring',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Sydata Consulting India Pvt Ltd',
 'Teq Analytics',
 'Jobs Territory',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'excellence',
 'Smart work Consultants',
 'Kellton Tech Solutions',
 'Walking Tree Consultancy Services pvt Ltd',
 'ABG Group',
 'Shriram Automall',
 'TeamPlus Staffing Solution Pvt Ltd',
 'The Search House (A Div of JSD Search House Pvt. L td.)']

In [93]:
Exp_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
len(Exp_tags)

20

In [94]:
Experience=[]
for i in Exp_tags:
        Experience.append(i.text)
len(Experience)

20

In [95]:
Experience

['2-5 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '1-3 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '4-8 Yrs',
 '4-9 Yrs',
 '1-4 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '1-3 Yrs',
 '4-9 Yrs',
 '3-6 Yrs',
 '3-8 Yrs']

In [96]:
Loc_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
len(Loc_tags)

20

In [97]:
Locations=[]

for i in Loc_tags:
    Locations.append(i.text)
len(Locations)

20

In [98]:
Locations

['New Delhi, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Noida',
 'Mumbai, New Delhi, Pune',
 'Noida',
 'Gurgaon/Gurugram',
 'Hyderabad/Secunderabad, New Delhi',
 'Ghaziabad',
 'Delhi / NCR(Netaji Subhash Place)',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram']

In [99]:
len(Job_titles),len(Company_names),len(Experience),len(Locations)

(20, 20, 20, 20)

In [100]:
Jobs=pd.DataFrame()
Jobs['Job_titles']=Job_titles
Jobs['Company_names']=Company_names
Jobs['Locations']=Locations
Jobs['Experience']=Experience
Jobs

,Job_titles,Company_names,Locations,Experience
0,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,"New Delhi, Bangalore/Bengaluru",2-5 Yrs
1,Senior Associate - Data Science,Black Turtle,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",4-7 Yrs
2,Data Scientist - Noida/Bangalore,EXL,"Noida, Bangalore/Bengaluru",5-10 Yrs
3,Data Scientist - Engine Algorithm,Primo Hiring,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",1-3 Yrs
4,Data Scientist,Mount Talent Consulting Private Limited,"Delhi / NCR, Pune, Bangalore/Bengaluru",2-4 Yrs
5,Data Scientist,Mount Talent Consulting Private Limited,"Delhi / NCR, Pune, Bangalore/Bengaluru",2-4 Yrs
6,Data Scientist,Sydata Consulting India Pvt Ltd,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",3-8 Yrs
7,Data Scientist - Machine learning AI,Teq Analytics,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",3-8 Yrs
8,Data Scientist - Internet Jobs - II,Jobs Territory,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",3-6 Yrs
9,Data Science,Mount Talent Consulting Private Limited,"Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugra...",2-5 Yrs
10,Data Science,Mount Talent Consulting Private Limited,"Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugra...",2-5 Yrs
11,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,Noida,4-8 Yrs
12,Data Engineer,excellence,"Mumbai, New Delhi, Pune",4-9 Yrs
13,Associate Data Scientist - Java/ Scala/ Apache...,Smart work Consultants,Noida,1-4 Yrs
14,Data Scientist,Kellton Tech Solutions,Gurgaon/Gurugram,3-6 Yrs
15,Machine Learning Seniors,Walking Tree Consultancy Services pvt Ltd,"Hyderabad/Secunderabad, New Delhi",2-5 Yrs
16,Database Management Expert//Ghaziabad,ABG Group,Ghaziabad,1-3 Yrs
17,Hiring || Data Scientist || North Delhi || 5.5...,Shriram Automall,Delhi / NCR(Netaji Subhash Place),4-9 Yrs
18,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,Gurgaon/Gurugram,3-6 Yrs
19,"Data Analyst (Data Sets, Statistical Models) -...",The Search House (A Div of JSD Search House Pv...,Gurgaon/Gurugram,3-8 Yrs

In [101]:
Jobs[0:10]

,Job_titles,Company_names,Locations,Experience
0,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,"New Delhi, Bangalore/Bengaluru",2-5 Yrs
1,Senior Associate - Data Science,Black Turtle,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",4-7 Yrs
2,Data Scientist - Noida/Bangalore,EXL,"Noida, Bangalore/Bengaluru",5-10 Yrs
3,Data Scientist - Engine Algorithm,Primo Hiring,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",1-3 Yrs
4,Data Scientist,Mount Talent Consulting Private Limited,"Delhi / NCR, Pune, Bangalore/Bengaluru",2-4 Yrs
5,Data Scientist,Mount Talent Consulting Private Limited,"Delhi / NCR, Pune, Bangalore/Bengaluru",2-4 Yrs
6,Data Scientist,Sydata Consulting India Pvt Ltd,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",3-8 Yrs
7,Data Scientist - Machine learning AI,Teq Analytics,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",3-8 Yrs
8,Data Scientist - Internet Jobs - II,Jobs Territory,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",3-6 Yrs
9,Data Science,Mount Talent Consulting Private Limited,"Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugra...",2-5 Yrs

In [102]:
#Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#1. Brand
#2. Product Description
#3. Price
#To scrape the data you have to go through following steps:
#1. Go to Flipkart webpage by url : https://www.flipkart.com/
#2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
#click the search icon
#3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
#required data as usual.
#ASSIGNMENT 2
#4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then 
#click on it.
#5. Now scrape data from this page as usual
#6. Repeat this until you get data for 100 sunglasses.

In [413]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [414]:
driver = webdriver.Chrome(r'C:\Users\trapt\Downloads\chromedriver_win32\chromedriver.exe')

In [415]:
 driver = webdriver.Chrome('chromedriver.exe')

In [416]:
url=' https://www.flipkart.com/'
driver.get(url)

In [417]:
from selenium.webdriver.common.by import By

In [418]:
Search_product = driver.find_element(By.CLASS_NAME,"_3704LK")

In [419]:
Search_product

In [420]:
Search_product.send_keys("sunglasses")

In [421]:
Search_btn =driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")

In [422]:
Search_btn

In [423]:
Search_btn.click()

In [424]:
Brand_tags = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")

In [425]:
len(Brand_tags)

40

In [426]:
Brand=[]
for i in Brand_tags:
        Brand.append(i.text)
len(Brand)

40

In [173]:
Brand

['SUNBEE',
 'New Specs',
 'Fastrack',
 'GANSTA',
 'SRPM',
 'CRYSTAL CART',
 'Lee Topper',
 'ROYAL SON',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'VINCENT CHASE',
 'CRYSTAL CART',
 'LIZA ANGEL',
 'Fastrack',
 'povty',
 'Elligator',
 'DEIXELS',
 'ROYAL SON',
 'ROYAL SON',
 'ROYAL SON',
 'kingsunglasses',
 'kingsunglasses',
 'john jacobs',
 'Silver Kartz',
 'ROYAL SON',
 'kingsunglasses',
 'ROYAL SON',
 'PHENOMENAL',
 'PIRASO',
 'ROYAL SON',
 'Sewell',
 'Fastrack',
 'Rich Club',
 'Lee Topper',
 'VINCENT CHASE',
 'SRPM',
 'New Specs',
 'Singco India',
 'Sewell']

In [430]:
Product_detail = driver.find_elements(By.XPATH,"//div[@class='rcweVK']")

In [431]:
len(Product_detail)

2

In [432]:
Product_info=[]
for i in Product_detail:
        Product_info.append(i.text)
len(Product_info)

2

In [433]:
Product_info

['Size Medium', 'Size Free Size']

In [434]:
Price_tag = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")

In [435]:
len(Price_tag)

40

In [436]:
Price=[]
for i in Price_tag:
        Price.append(i.text)
len(Price)

40

In [437]:
Price

['₹1,533',
 '₹379',
 '₹177',
 '₹264',
 '₹639',
 '₹315',
 '₹259',
 '₹975',
 '₹283',
 '₹224',
 '₹224',
 '₹499',
 '₹195',
 '₹799',
 '₹639',
 '₹759',
 '₹224',
 '₹359',
 '₹306',
 '₹379',
 '₹299',
 '₹229',
 '₹474',
 '₹319',
 '₹246',
 '₹226',
 '₹410',
 '₹749',
 '₹279',
 '₹1,039',
 '₹719',
 '₹759',
 '₹291',
 '₹331',
 '₹265',
 '₹699',
 '₹219',
 '₹299',
 '₹303',
 '₹499']

In [438]:
Next_btn =driver.find_element(By.XPATH, "/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")

In [439]:
Next_btn

In [440]:
Next_btn.click()

In [441]:
Brand_tags = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")

In [442]:
len(Brand_tags)

40

In [443]:
Brand_1=[]
for i in Brand_tags:
        Brand_1.append(i.text)
len(Brand_1)

40

In [179]:
Brand_1

['SUNBEE',
 'New Specs',
 'Fastrack',
 'GANSTA',
 'SRPM',
 'CRYSTAL CART',
 'Lee Topper',
 'ROYAL SON',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'VINCENT CHASE',
 'CRYSTAL CART',
 'LIZA ANGEL',
 'Fastrack',
 'povty',
 'Elligator',
 'DEIXELS',
 'ROYAL SON',
 'ROYAL SON',
 'ROYAL SON',
 'kingsunglasses',
 'kingsunglasses',
 'john jacobs',
 'Silver Kartz',
 'ROYAL SON',
 'kingsunglasses',
 'ROYAL SON',
 'PHENOMENAL',
 'PIRASO',
 'ROYAL SON',
 'Sewell',
 'Fastrack',
 'Rich Club',
 'Lee Topper',
 'VINCENT CHASE',
 'SRPM',
 'New Specs',
 'Singco India',
 'Sewell']

In [444]:
Product_detail = driver.find_elements(By.XPATH,"//div[@class='rcweVK']")

In [445]:
len(Product_detail)

0

In [446]:
Product_info=[]
for i in Product_detail:
        Product_info.append(i.text)
len(Product_info)

0

In [447]:
Product_info

[]

In [448]:
Price_tag = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")

In [449]:
len(Price_tag)

40

In [450]:
Price=[]
for i in Price_tag:
        Price.append(i.text)
len(Price)

40

In [186]:
Price

['₹283',
 '₹299',
 '₹759',
 '₹314',
 '₹249',
 '₹529',
 '₹219',
 '₹759',
 '₹719',
 '₹379',
 '₹246',
 '₹949',
 '₹189',
 '₹199',
 '₹759',
 '₹319',
 '₹219',
 '₹236',
 '₹379',
 '₹759',
 '₹379',
 '₹194',
 '₹164',
 '₹3,000',
 '₹288',
 '₹379',
 '₹189',
 '₹854',
 '₹360',
 '₹223',
 '₹379',
 '₹616',
 '₹899',
 '₹265',
 '₹245',
 '₹749',
 '₹233',
 '₹268',
 '₹598',
 '₹616']

In [451]:
Next_btn =driver.find_element(By.XPATH, "/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")

In [452]:
Next_btn

In [453]:
Next_btn.click()

In [454]:
Brand_tags = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")

In [455]:
len(Brand_tags)

40

In [456]:
Brand_2=[]
for i in Brand_tags:
        Brand_2.append(i.text)
len(Brand_2)

40

In [200]:
Brand_2

['VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'AISLIN',
 'ROYAL SON',
 'Rich Club',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'VINCENT CHASE',
 'Fastrack',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'PIRASO',
 'AISLIN',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Lee Topper',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'AISLIN',
 'ROYAL SON',
 'ROYAL SON',
 'Lee Topper',
 'Sewell',
 'New Specs',
 'New Specs',
 'ROYAL SON',
 'IZAAN MART',
 'GANSTA',
 'Fastrack',
 'kingsunglasses',
 'ROYAL SON',
 'PHENOMENAL',
 'GANSTA',
 'VINCENT CHASE',
 'ROYAL SON',
 'Mi',
 'VINCENT CHASE',
 'CRYSTAL CART',
 'DEIXELS']

In [457]:
Product_detail = driver.find_elements(By.XPATH,"//div[@class='rcweVK']")

In [202]:
len(Product_detail)

7

In [203]:
Product_info=[]
for i in Product_detail:
        Product_info.append(i.text)
len(Product_info)

7

In [204]:
Product_info

['Size Medium',
 'Size Free Size, Large',
 'Size Large',
 'Size Free Size',
 'Size Free Size',
 'Size Medium',
 'Size Large']

In [460]:
Price_tag = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")

In [461]:
len(Price_tag)

40

In [462]:
Price=[]
for i in Price_tag:
        Price.append(i.text)
len(Price)

40

In [463]:
Price

['₹379',
 '₹849',
 '₹899',
 '₹499',
 '₹759',
 '₹269',
 '₹289',
 '₹759',
 '₹949',
 '₹598',
 '₹265',
 '₹749',
 '₹245',
 '₹268',
 '₹899',
 '₹799',
 '₹329',
 '₹664',
 '₹260',
 '₹569',
 '₹949',
 '₹599',
 '₹269',
 '₹197',
 '₹899',
 '₹269',
 '₹214',
 '₹616',
 '₹498',
 '₹379',
 '₹324',
 '₹530',
 '₹249',
 '₹735',
 '₹809',
 '₹799',
 '₹217',
 '₹405',
 '₹639',
 '₹711']

In [464]:
#Q8: Go to webpage https://www.amazon.in/
#Enter “Laptop” in the search field and then click the search icon.
#Then set CPU Type filter to “Intel Core i7” as shown in the below image
#After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
#1. Title
#2. Ratings
#3. Price

In [465]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [466]:
driver = webdriver.Chrome(r'C:\Users\trapt\Downloads\chromedriver_win32\chromedriver.exe')

In [467]:
driver = webdriver.Chrome('chromedriver.exe')

In [468]:
url='https://www.amazon.in/'
driver.get(url)

In [469]:
from selenium.webdriver.common.by import By

In [485]:
Search_lap = driver.find_element(By.ID,"twotabsearchtextbox")

In [486]:
Search_lap

In [488]:
Search_lap.send_keys("Laptop")

In [491]:
Search_icn =driver.find_element(By.ID, "nav-search-submit-button")

In [492]:
Search_icn

In [493]:
Search_icn.click()

In [524]:
CPU = driver.find_elements(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/div[4]")

In [525]:
CPU