In [75]:
# Importing Libraries
import selenium
import pandas as pd
import time

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

import warnings 
warnings.filterwarnings("ignore")

from selenium.webdriver.common.by import By

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) View

In [7]:
driver=webdriver.Chrome(r'C:\Users\trapt\Downloads\chromedriver_win32\chromedriver.exe')
time.sleep(4)

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [17]:
#Creating blank list
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

#Scraping Rank
rank = driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
for i in rank:
    Rank.append(i.text)

#Scraping Name
name = driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
for i in name:
    Name.append(i.text)
    
#Scraping Artist
artist = driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
for i in artist:
    Artist.append(i.text)
    
    
#Scraping Views
views = driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
for i in views:
    Views.append(i.text)
    
    
#Scraping Upload_date
upload_date = driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
for i in upload_date:
    Upload_date.append(i.text)
    
Youtube_viewed=pd.DataFrame({})
Youtube_viewed['Rank']=Rank
Youtube_viewed['Name']=Name
Youtube_viewed['Artist']=Artist
Youtube_viewed['Upload_date']=Upload_date
Youtube_viewed['Views']=Views
Youtube_viewed

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.05
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.93
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.40
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.77
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.59
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.54
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.77
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.65
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.60
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.50
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.50
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.24
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.00
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.74
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.63
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.62
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.57
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.48
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.45
19,20.,"""Dark Horse""[38]",Katy Perry,"February 20, 2014",3.32
20,21.,"""Girls Like You""[39]",Maroon 5,"May 31, 2018",3.32
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.32
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.31
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.27
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.25
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.24
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.22
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.21
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.19
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.11

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [7]:
driver=webdriver.Chrome(r'C:\Users\trapt\Downloads\chromedriver_win32\chromedriver.exe')
time.sleep(4)

url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(4)
driver.maximize_window()

In [8]:
#click on international
international=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
international.click()
time.sleep(3)

In [20]:
# click on fixtures
fixtures= driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div/ul")
fixtures.click()
time.sleep(3)

In [22]:
#Creating Empty list
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

#Scraping Match_title
match_title= driver.find_elements(By.XPATH,"//strong[@class='fixture__name fixture__name--with-margin']")
for i in match_title:
    Match_title.append(i.text)
    
#Scraping Series
series= driver.find_elements(By.XPATH,"//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in series:
    Series.append(i.text)
    
#Scraping Place
place= driver.find_elements(By.XPATH,"//p[@class='fixture__additional-info']/span")
for i in place:
    Place.append(i.text)   
    
#Scraping Date
date= driver.find_elements(By.XPATH,"//div[@class='fixture__full-date']")
for i in date:
    Date.append(i.text)   
    
#Scraping Time
time= driver.find_elements(By.XPATH,"//span[@class='fixture__time']")
for i in time:
    Time.append(i.text) 

Fixture=pd.DataFrame({})
Fixture['Match_title']=Match_title
Fixture['Series']=Series
Fixture['Place']=Place
Fixture['Date']=Date
Fixture['Time']=Time
Fixture

Empty DataFrame
Columns: [Match_title, Series, Place, Date, Time]
Index: []

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through cod

In [25]:
driver=webdriver.Chrome(r'C:\Users\trapt\Downloads\chromedriver_win32\chromedriver.exe') 
time.sleep(4)

url = "https://www.guru99.com/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [26]:
#clicking on testing 
Testing=driver.find_element(By.XPATH,"//li[@id='menu-item-3173']")
Testing.click()

# clicking on slelenium tutorial 
selenium= driver.find_element(By.XPATH,"//li[@id='menu-item-4622']")
selenium.click()

# Scroling page by elements name
time.sleep(4)
element = driver.find_element(By.XPATH,"//div[@class='entry-content single-content']/table[5]/tbody/tr[34]")
driver.execute_script("return arguments[0].scrollIntoView();", element)

#clicking on Tutotial
Tutotial= driver.find_element(By.XPATH,"//*[@id='post-193']/div/div/table[5]/tbody/tr[34]/td[1]/a")
Tutotial.click()

In [27]:
#Creating Emplty list
Name=[]
Description=[]

#Scrapign Name
name= driver.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[1]")
for i in name:
    Name.append(i.text)
    
#Scraping  Description   
description=driver.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[2]") 
for i in description:
    Description.append(i.text)
    
# Creating dataFrame
exception_list= pd.DataFrame({})
exception_list['Name']= Name
exception_list['Description']= Description
exception_list

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [79]:
driver=webdriver.Chrome(r'C:\Users\trapt\Downloads\chromedriver_win32\chromedriver.exe') 
time.sleep(4)

url = "https://github.com/ "
driver.get(url)
time.sleep(4)
driver.maximize_window()

In [80]:
Explore=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
Explore.click()

In [82]:
Treading=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
Treading.click()

In [90]:
# Creating emplty list 
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

#scraping Repository_title
repository_title=driver.find_elements(By.XPATH,"//span[@class='text-normal']")
for i in repository_title:
    if i.text is None:
        Repository_title.append('--')
    else:
        Repository_title.append(i.text)
        
#scraping Repository_description
repository_description=driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']")
for i in repository_description:
    if i.text is None:
        Repository_description.append('--')
    else:
        Repository_description.append(i.text)
        

#scraping Contributors_count
contributors_count=driver.find_elements(By.XPATH,"//a[@class='Link--muted d-inline-block mr-3']")
for i in contributors_count:
    if i.text is None:
        Contributors_count.append('--')
    else:
        Contributors_count.append(i.text)
        

#scraping Language_used
language_used=driver.find_elements(By.XPATH,"//span[@class='d-inline-block ml-0 mr-3']")
for i in language_used:
    if i.text is None:
        Language_used.append('--')
    else:
        Language_used.append(i.text)

In [91]:
print(len(Repository_title),
len(Repository_description),
len(Contributors_count),
len(Language_used))

25 24 50 21

In [92]:
Treding_rep=pd.DataFrame({})
Treding_rep['Repository_title']= Repository_title[:21]
Treding_rep['Repository_description']= Repository_description[:21]
Treding_rep['Contributors_count']= Contributors_count[:21]
Treding_rep['Language_used']= Language_used[:21]
Treding_rep

,Repository_title,Repository_description,Contributors_count,Language_used
0,toeverything /,There can be more than Notion and Miro. Affine...,"5,014",TypeScript
1,jwasham /,A complete computer science study plan to beco...,181,JavaScript
2,iptv-org /,Collection of publicly available IPTV channels...,"228,799",C
3,ventoy /,A new bootable USB solution.,"61,513",C++
4,MarlinFirmware /,Marlin is an optimized firmware for RepRap 3D ...,"54,051",Go
5,Dreamacro /,A rule-based tunnel in Go.,"9,402",Python
6,arthurspk /,GUIA EXTENSO DE PROGRAMAÇÃO:,"37,799",Python
7,donnemartin /,Learn how to design large-scale systems. Prep ...,"2,781",TypeScript
8,MatrixTM /,"Best DDoS Attack Script Python3, (Cyber / DDos...","13,603",Python
9,t3-oss /,Quickest way to start a new web app with full ...,"17,028",CSS
10,punk-security /,dnsReaper - subdomain takeover tool for attack...,"29,858",Python
11,juliocesarfort /,Curated list of public penetration test report...,"4,126",Swift
12,facebookresearch /,A framework for training and evaluating AI mod...,"7,707",JavaScript
13,utmapp /,Virtual machines for iOS and macOS,"1,034",JavaScript
14,theboy181 /,30 Days of React challenge is a step by step g...,"192,234",Python
15,Asabeneh /,The open-source repo for docs.github.com,"34,752",HTML
16,github /,A curated list of awesome Machine Learning fra...,"5,330",Python
17,josephmisiti /,计算机自学指南,"1,234",HTML
18,PKUFlyingPig /,Create Disco Diffusion artworks in one line,"4,967",Jupyter Notebook
19,jina-ai /,Gather and update all available and newest CVE...,187,C++
20,trickest /,Notes about courses Dive into Deep Learning by...,489,Python

6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [94]:
driver=webdriver.Chrome(r'C:\Users\trapt\Downloads\chromedriver_win32\chromedriver.exe') 
time.sleep(4)

url = "https://www.billboard.com/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [96]:
time.sleep(3)
Hot_song= driver.find_element(By.XPATH,"/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a")
Hot_song.click()
time.sleep(6)

In [99]:
# Creating Blank List
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

#Scraping Song_name
song_name= driver.find_elements(By.XPATH,"//a[@class='c-title__link lrv-a-unstyle-link']")
for i in song_name:
    if i.text is None:
        Song_name.append('--')
    else:
        Song_name.append(i.text)

#Scraping Artist_name
artist_name= driver.find_elements(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[5]/ul/li[4]/ul/li[1]/span")
for i in artist_name:
    if i.text is None:
        Artist_name.append('--')
    else:
        Artist_name.append(i.text)
        
#Scraping Last_week_rank
last_week_rank= driver.find_elements(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[3]/ul/li[4]/ul/li[4]/span")
for i in last_week_rank:
    if i.text is None:
        Last_week_rank.append('--')
    else:
        Last_week_rank.append(i.text)
        
#Scraping Peak_rank
peak_rank= driver.find_elements(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[3]/ul/li[4]/ul/li[5]/span")
for i in peak_rank:
    if i.text is None:
        Peak_rank.append('--')
    else:
        Peak_rank.append(i.text)
        
#Scraping Weeks_on_board
weeks_on_board= driver.find_elements(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[1]/div[9]/span")
for i in weeks_on_board:
    if i.text is None:
        Weeks_on_board.append('--')
    else:
        Weeks_on_board.append(i.text)

In [100]:
print(len(Song_name),
len(Artist_name),
len(Last_week_rank),
len(Peak_rank),
 len(Weeks_on_board))

1 1 1 1 1

In [101]:
Hot_Songs=pd.DataFrame({})
Hot_Songs['Song_name']=Song_name
Hot_Songs['Artist_name']=Artist_name
Hot_Songs['Last_week_rank']=Last_week_rank
Hot_Songs['Peak_rank']=Peak_rank
Hot_Songs['Weeks_on_board']=Weeks_on_board

Hot_Songs

       Song_name           Artist_name Last_week_rank Peak_rank Weeks_on_board
0  Break My Soul  Kate Bush\nKate Bush              1         1   WKS ON CHART

Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [102]:
driver=webdriver.Chrome(r'C:\Users\trapt\Downloads\chromedriver_win32\chromedriver.exe') 
time.sleep(4)

url = "https://www.naukri.com/recruiters/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [104]:
search=driver.find_element(By.XPATH,"//input[@class='sugInp']")
search.send_keys('Data Science')

search_btn=driver.find_element(By.XPATH,"//button[@class='fl qsbSrch blueBtn']")
search_btn.click()

In [105]:
#Creating empty list
Name=[]
Designation=[]
Company=[]
Skills_they_hire=[]
Location=[]


#Scraping Name 
name=driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']")
for i  in name:
    Name.append(i.text)
    
#Scraping Designation 
designation=driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']")
for i  in designation:
    Designation.append(i.text)    
    
#Scraping Company 
company=driver.find_elements(By.XPATH,"//p[@class='highlightable']/a[2]")
for i  in company:
    Company.append(i.text)   
    
    
#Scraping Skills_they_hire 
skills_they_hire=driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']")
for i  in skills_they_hire:
    Skills_they_hire.append(i.text)
    

    
#Scraping Location 
location=driver.find_elements(By.XPATH,"//p[@class='highlightable']/span[2]")
for i  in location:
    if i.text is None:
        
        Location.append('--')
    else:
        Location.append(i.text)

In [108]:
print(len(Name),
len(Designation),
len(Company),
len(Skills_they_hire),
len(Location))

50 50 50 50 48

In [109]:

Recruiters=pd.DataFrame({})
Recruiters['Name']= Name[0:48]
Recruiters['Designation']= Designation[0:48]
Recruiters['Company']= Company[0:48]
Recruiters['Skills_they_hire']= Skills_they_hire[0:48]
Recruiters['Location']= Location[0:48]
Recruiters

,Name,Designation,Company,Skills_they_hire,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
33,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Ghaziabad

8. Scrape the details of Highest selling novels.
URL = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [110]:
driver=webdriver.Chrome(r'C:\Users\trapt\Downloads\chromedriver_win32\chromedriver.exe') 
time.sleep(4)

url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [111]:
# creating empty lists for scraping data
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

# Scraping Book_name
book_name=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in book_name:
    if i.text is None:
        Book_name.append('--')
    else:
        Book_name.append(i.text)
        
# Scraping Author_name
author_name=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in author_name:
    if i.text is None:
        Author_name.append('--')
    else:
        Author_name.append(i.text)
        
# Scraping Volumes_sold
volumes_sold=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in volumes_sold:
    if i.text is None:
        Volumes_sold.append('--')
    else:
        Volumes_sold.append(i.text)
        
# Scraping Author_name
publisher=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in publisher:
    if i.text is None:
        Publisher.append('--')
    else:
        Publisher.append(i.text)
        
# Scraping Genre
genre=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in genre:
    if i.text is None:
        Genre.append('--')
    else:
        Genre.append(i.text)

In [112]:
print(len(Book_name),
len(Author_name),
len(Volumes_sold),
len(Publisher),
len(Genre))

100 100 100 100 100

In [113]:
Top_selling_book=pd.DataFrame({})
Top_selling_book['Book_name']=Book_name
Top_selling_book['Author_name']=Author_name
Top_selling_book['Volumes_sold']=Volumes_sold
Top_selling_book['Publisher']=Publisher
Top_selling_book['Genre']=Genre
Top_selling_book

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [114]:
driver=webdriver.Chrome(r'C:\Users\trapt\Downloads\chromedriver_win32\chromedriver.exe') 
url ="https://www.imdb.com/list/ls095964455/"
driver.get(url)
driver.maximize_window()

In [115]:
# Creating empty list
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

#Scraping Name
name=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
for i in name:
    Name.append(i.text)
    
#Scraping Year_span
year_span=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
for i in year_span:
    Year_span.append(i.text)

    
#Scraping Genre
genre=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small']/span[5]")
for i in genre:
    Genre.append(i.text)
    
    
#Scraping Run_time
run_time=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small']/span[3]")
for i in run_time:
    Run_time.append(i.text)
    
#Scraping Ratings
ratings=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-widget']/div/span[2]")
for i in ratings:
    Ratings.append(i.text)
    
#Scraping Votes
votes=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small'][3]/span[2]")
for i in votes:
    Votes.append(i.text)

In [116]:
Top_shows=pd.DataFrame({})
Top_shows['Name']=Name
Top_shows['Year_span']=Year_span
Top_shows['Genre']=Genre
Top_shows['Run_time']=Run_time
Top_shows['Ratings']=Ratings
Top_shows['Votes']=Votes
Top_shows

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,021,407"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,117,881"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"959,788"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"286,929"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"246,530"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,268"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,163"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"193,412"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,808"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"233,374"

In [117]:
driver.close()

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [118]:
driver=webdriver.Chrome(r'C:\Users\trapt\Downloads\chromedriver_win32\chromedriver.exe')
time.sleep(4)

url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [119]:
view_dataste= driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
view_dataste.click()
time.sleep(4)

In [120]:
# creating empty lists for scraping data
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

#scraping Dataset name
data_name= driver.find_elements(By.XPATH,"//p[@class='normal']/b/a[1]")
for i in data_name:
    if i.text is None :
        Dataset_name.append("--") 
    else:
        Dataset_name.append(i.text)

time.sleep(4)        
#Scraping data Type
data_type=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[2]/p")
for i in data_type[1:]:
    if i.text is None :
        Data_type.append("--") 
    else:
        Data_type.append(i.text)

time.sleep(4) 
#Scraping Task
task=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[3]/p")
for i in task[1:]:
    if i.text is None :
        Task.append("--") 
    else:
        Task.append(i.text)
        
time.sleep(4) 
#Scraping Attribute_type
attribute_type=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[4]/p")
for i in attribute_type[1:]:
    if i.text is None :
        Attribute_type.append("--") 
    else:
        Attribute_type.append(i.text)

time.sleep(4)         
#Scraping No_of_instances
no_of_instances=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[5]/p")
for i in no_of_instances[1:]:
    if i.text is None :
        No_of_instances.append("--") 
    else:
        No_of_instances.append(i.text)

time.sleep(4)         
#Scraping No_of_attribute
no_of_attribute=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[6]/p")
for i in no_of_attribute[1:]:
    if i.text is None :
        No_of_attribute.append("--") 
    else:
        No_of_attribute.append(i.text)

time.sleep(4) 
#Scraping Year
year=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[7]/p")
for i in year[1:]:
    if i.text is None :
        Year.append("--") 
    else:
        Year.append(i.text)

In [121]:
data_dataset=pd.DataFrame({})
data_dataset['Dataset_name']= Dataset_name
data_dataset['Data_type']= Data_type
data_dataset['Task']= Task
data_dataset['Attribute_type']= Attribute_type
data_dataset['No_of_instances']= No_of_instances
data_dataset['No_of_attribute']= No_of_attribute
data_dataset['Year']= Year
data_dataset

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [122]:
driver=webdriver.Chrome(r'C:\Users\trapt\Downloads\chromedriver_win32\chromedriver.exe') 
time.sleep(4)

url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(4)
driver.maximize_window()

In [123]:
#Click Economy
Economy=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
Economy.click()

In [124]:
#Click India
India= driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
India.click()

In [ ]:
#Click on India GPD
GDP=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
driver.implicitly_wait(5)

GDP.click()

In [ ]:
#Creating empty list
Rank=[]
State=[]
GSDP_at_current_price_19_20=[]
GSDP_at_current_price_18_19=[]
Share_18_19=[]
GDP_billion=[]

#Scraping Rank
rank= driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
for i in rank:
    if i.text is None:
        Rank.append('--')
    else:
        Rank.append(i.text)
        
#Scraping State
state= driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
for i in state:
    if i.text is None:
        State.append('--')
    else:
        State.append(i.text)
                
#Scraping GSDP_at_current_price_19_20
gSDP_at_current_price_19_20= driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
for i in gSDP_at_current_price_19_20:
    if i.text is None:
        GSDP_at_current_price_19_20.append('--')
    else:
        GSDP_at_current_price_19_20.append(i.text)
        
#Scraping GSDP_at_current_price_18_19
gSDP_at_current_price_18_19= driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
for i in gSDP_at_current_price_18_19:
    if i.text is None:
        GSDP_at_current_price_18_19.append('--')
    else:
        GSDP_at_current_price_18_19.append(i.text)
        
#Scraping Share_18_19
share_18_19= driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
for i in share_18_19:
    if i.text is None:
        Share_18_19.append('--')
    else:
        Share_18_19.append(i.text)
        
#Scraping GDP_billion
gDP_billion= driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
for i in gDP_billion:
    if i.text is None:
        GDP_billion.append('--')
    else:
        GDP_billion.append(i.text)
        
# creating dataframe
GDP_India=pd.DataFrame({})
GDP_India['Rank']=Rank
GDP_India['State']=State
GDP_India['GSDP_at_current_price_19_20']=GSDP_at_current_price_19_20
GDP_India['GSDP_at_current_price_18_19']=GSDP_at_current_price_18_19
GDP_India['Share_18_19']=Share_18_19
GDP_India['GDP_billion']=GDP_billion
GDP_India